@model PDGICoreApps.Models.Dokter

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tampil Dokter</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
</head>
<body>
    <div class="container">
        <div class="row">
            <h2>Daftar Dokter</h2>
          
            <table class="table table-striped">
                <tr>
                    <th>UserID</th>
                    <th>Nama</th>
                    <th>Alamat</th>
                    <th>Tanggal Lahir</th>
                    <th>No SIP</th>
                </tr>
                <tr>
                    <td>@Model.UserID</td>
                    <td>@Model.Nama</td>
                    <td>@Model.Alamat</td>
                    <td>@Model.TanggalLahir.ToString("MM-dd-yyyy")</td>
                    <td>@Model.NoSIP</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
